[Desktop Entry]
Type=Application
Name=QtEmu

GenericName=QtEmu front-end
GenericName[ca]=QtEmu front-end
GenericName[es]=QtEmu front-end


Comment=A front-end written in Qt for the qemu emulator
Comment[ca]=Un front-end escrit en Qt per l'emulador qemu
Comment[es]=Un front-end escrito en Qt para el emulador qemu


Icon=qtemu
Exec=qtemu
Terminal=false
StartupNotify=false
Categories=Qt;System;
Keywords=qemu;emulator;
